@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#1B1B1B] text-[#E5E5E5];
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: #393737;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FE6902;
}